# `Python Development internship at Digital Mozarts Tasks `

### Tasks :-
    1 Calculate total impressions for the age group 30-40
    2 Get all ad_ids for every campaign_id (a campaign contains multiple ads)
    3 Get total clicks where report_start between dates 19/08/2017 to 22/08/2017 (both inclusive).

### Note :-
impressions, ad_id, campaign_id, report_start, etc. are columns of the data

### 1) Importing Tools

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 2) Preparing data

In [2]:
data = pd.read_csv("data.csv")

In [3]:
# Cheching data
data

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.000000,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.000000,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.000000,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.000000,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.000000,1,1.29,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,1314410,19/08/2017,19/08/2017,45-49,F,109,111,114,1129773,252,358.189997,13,2.00,NaN,NaN
1139,1314411,19/08/2017,19/08/2017,45-49,F,110,111,116,637549,120,173.880003,3,0.00,NaN,NaN
1140,1314412,19/08/2017,19/08/2017,45-49,F,111,113,117,151531,28,40.289999,2,0.00,NaN,NaN
1141,1314414,17/08/2017,17/08/2017,45-49,F,113,114,117,790253,135,198.710001,8,2.00,NaN,NaN
1142,1314415,17/08/2017,17/08/2017,45-49,F,114,116,118,513161,114,165.609999,5,2.00,NaN,NaN

In [4]:
# Getting information from data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   reporting_start      1143 non-null   object
 2   reporting_end        1143 non-null   object
 3   campaign_id          1143 non-null   object
 4   fb_campaign_id       1143 non-null   object
 5   age                  1143 non-null   object
 6   gender               1143 non-null   object
 7   interest1            1143 non-null   int64
 8   interest2            1143 non-null   int64
 9   interest3            1143 non-null   int64
 10  impressions          1143 non-null   float64
 11  clicks               1143 non-null   int64
 12  spent                1143 non-null   float64
 13  total_conversion     761 non-null    float64
 14  approved_conversion  761 non-null    float64
dtypes: float64(4), int64(5), object(6)
memory usage: 134.1+ KB

In [5]:
# Checking that data contains null values
data.isnull().sum()

ad_id                    0
reporting_start          0
reporting_end            0
campaign_id              0
fb_campaign_id           0
age                      0
gender                   0
interest1                0
interest2                0
interest3                0
impressions              0
clicks                   0
spent                    0
total_conversion       382
approved_conversion    382
dtype: int64

### Task-1 
Calculate total impressions for the age group 30-40

In [6]:
# Firstly getting only data have age range 30-34 in data_age_30_34
data_age_30_34 = data[data["age"] == "30-34"]
data_age_30_34

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.430000,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.820000,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.000000,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.250000,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.290000,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,1121282,24/08/2017,24/08/2017,1178,144570,30-34,M,7,11,10,185823.0,25,38.549999,4.0,1.0
616,1121284,24/08/2017,24/08/2017,1178,144571,30-34,M,66,68,70,175631.0,23,40.760000,1.0,0.0
617,1121285,24/08/2017,24/08/2017,1178,144571,30-34,M,66,68,70,37187.0,4,6.370000,1.0,0.0
618,1121286,24/08/2017,24/08/2017,1178,144571,30-34,M,66,67,69,10991.0,0,0.000000,1.0,0.0
619,1121287,24/08/2017,24/08/2017,1178,144571,30-34,M,66,69,69,344618.0,51,89.760000,3.0,1.0

In [7]:
# Now from data_age_30_34, we get impressions column and after that we use sum() function to find total impressions
total_impressions = data_age_30_34["impressions"].sum()

In [8]:
print("Total impressions -",total_impressions)

Total impressions - 35678593.0

### Task-2
Get all ad_ids for every campaign_id (a campaign contains multiple ads)

In [9]:
dict = {}
arr = data["campaign_id"].unique()
for value in arr:
    ad_id = data[data["campaign_id"] == value]["ad_id"]
    dict[value] = ad_id.to_list()

`We create dictionary, namely dict, to store campagin_id as key and list of all ad_id for every campaign_id as value`

In [10]:
dict

{'916': [708746,
  708749,
  708771,
  708815,
  708818,
  708820,
  708889,
  708895,
  708953,
  708958,
  708979,
  709023,
  709038,
  709040,
  709059,
  709105,
  709115,
  709124,
  709179,
  709183,
  709320,
  709323,
  709326,
  709327,
  709328,
  709455,
  709544,
  709614,
  709756,
  709761,
  709899,
  709901,
  710045,
  710088,
  710360,
  710477,
  710480,
  710571,
  710617,
  710623,
  710628,
  710682,
  710763,
  710836,
  710867,
  710880,
  710961,
  710968,
  711217,
  711623,
  711764,
  711785,
  711877,
  712052],
 '936': [734209,
  734210,
  734215,
  734243,
  734266,
  734272,
  734290,
  734313,
  734314,
  734352,
  734361,
  734381,
  734399,
  734418,
  734421,
  734427,
  734433,
  734582,
  734605,
  734660,
  734666,
  734726,
  734737,
  734785,
  734794,
  734796,
  734800,
  734803,
  734852,
  734854,
  734856,
  734866,
  734881,
  734901,
  734903,
  734925,
  734939,
  734968,
  734999,
  735014,
  735032,
  735033,
  735043,
  735048,
  735065,
  735109,
  735140,
  735143,
  735151,
  735184,
  735189,
  735213,
  735220,
  735242,
  735247,
  735289,
  735290,
  735298,
  736869,
  736890,
  736893,
  736977,
  736988,
  736995,
  736997,
  737097,
  737130,
  737320,
  737375,
  737524,
  737644,
  737657,
  737658,
  737674,
  737766,
  737896,
  737931,
  737961,
  737995,
  738006,
  738067,
  738098,
  738307,
  738389,
  738408,
  738413,
  738423,
  738436,
  738463,
  738528,
  738560,
  738582,
  738592,
  738593,
  738598,
  738606,
  738637,
  738648,
  747212,
  747213,
  747220,
  747222,
  747223,
  747248,
  747332,
  747362,
  747369,
  747370,
  747401,
  747435,
  747439,
  747489,
  747514,
  747645,
  747659,
  747675,
  747678,
  747712,
  747790,
  747791,
  747795,
  747798,
  747824,
  747828,
  747852,
  747859,
  747863,
  747879,
  747903,
  747911,
  747968,
  747991,
  748000,
  748007,
  748014,
  748045,
  748086,
  748087,
  748089,
  748091,
  748225,
  748230,
  748231,
  748233,
  748235,
  748294,
  748295,
  748303,
  748314,
  748341,
  776318,
  776322,
  776323,
  776325,
  776334,
  776336,
  776338,
  776353,
  776373,
  776383,
  776405,
  776416,
  776430,
  776464,
  776469,
  776473,
  776475,
  776476,
  776477,
  776489,
  776494,
  776515,
  776519,
  776533,
  776534,
  776538,
  776551,
  776552,
  776553,
  776563,
  776579,
  776603,
  776615,
  776623,
  776631,
  776643,
  776644,
  776659,
  776661,
  776662,
  776663,
  776668,
  776685,
  776686,
  776687,
  776696,
  776697,
  776698,
  776699,
  776722,
  776725,
  776780,
  776793,
  776799,
  776817,
  776825,
  776829,
  776831,
  776840,
  776861,
  776892,
  776928,
  776935,
  777105,
  777130,
  777131,
  777166,
  777187,
  777198,
  777200,
  777201,
  777235,
  777248,
  777261,
  777382,
  777398,
  777410,
  777482,
  777495,
  777519,
  777625,
  777627,
  777638,
  777670,
  777673,
  777742,
  777758,
  777794,
  777816,
  777871,
  777904,
  777905,
  778037,
  778048,
  778085,
  778087,
  778112,
  778113,
  778124,
  778148,
  778156,
  778161,
  778208,
  778264,
  778266,
  778421,
  778422,
  778461,
  778471,
  778483,
  778529,
  778556,
  778590,
  778600,
  778626,
  778628,
  778674,
  778689,
  778722,
  778737,
  778756,
  778804,
  778808,
  778964,
  779057,
  779106,
  779438,
  779453,
  779488,
  779573,
  779608,
  779609,
  779622,
  779631,
  779644,
  779645,
  779715,
  779716,
  779738,
  779778,
  779789,
  779824,
  779871,
  779918,
  779922,
  779944,
  779979,
  779995,
  780064,
  780104,
  780199,
  780318,
  780323,
  780486,
  780498,
  780511,
  780629,
  780653,
  780655,
  780666,
  780681,
  780700,
  780748,
  780759,
  780760,
  780797,
  780799,
  780821,
  780830,
  780835,
  780867,
  780974,
  781066,
  781114,
  781159,
  781162,
  781175,
  781187,
  781195,
  781207,
  781303,
  781305,
  781327,
  781353,
  781354,
  781438,
  781470,
  781499,
  781508,
  781556,
  781559,
  781606,
  781690,
  781811,
  781857,
  781858,
  781907,
  781928,
  781929,
  781950,
  781999,
  782001,
  782022,
  782026,
  782130,
  782134,
  782135,
  782171,
  782180,
  782219,
  782228,
  782242,
  782275,
  782337,
  782407,
  782443,
  782541,
  782587,
  782647,
  782658,
  782694,
  782706,
  782754,
  782815,
  782816,
  782862,
  950068,
  950078,
  950079,
  950099,
  950109,
  950170,
  950179,
  950182,
  950183,
  950200,
  950224,
  950326,
  950345,
  950452,
  950463,
  950495,
  950521,
  950531,
  950537,
  950550,
  950577,
  950578,
  950595,
  950609,
  950629,
  950631,
  950649,
  950745,
  950770,
  950772,
  950773,
  950776,
  950787,
  950808,
  950839,
  950878,
  950969,
  951021,
  951033,
  951035,
  951043,
  951045,
  951046,
  951102,
  951105,
  951133,
  951202,
  951225,
  951270,
  951282,
  951285,
  951294,
  951305,
  951334,
  951391,
  951392,
  951400,
  951402,
  951413,
  951420,
  951444,
  951448,
  951462,
  951464,
  951465,
  951498,
  951508,
  951542,
  951607,
  951608,
  951641,
  951677,
  951692,
  951715,
  951756,
  951779,
  951782,
  951810,
  951812,
  951837,
  951853,
  951854,
  951856,
  951941,
  952001,
  952031,
  952080,
  952100],
 '1178': [1121091,
  1121092,
  1121094,
  1121095,
  1121096,
  1121097,
  1121098,
  1121100,
  1121101,
  1121102,
  1121104,
  1121105,
  1121107,
  1121108,
  1121110,
  1121111,
  1121113,
  1121114,
  1121115,
  1121116,
  1121117,
  1121119,
  1121121,
  1121122,
  1121123,
  1121124,
  1121125,
  1121126,
  1121127,
  1121128,
  1121129,
  1121131,
  1121132,
  1121133,
  1121134,
  1121136,
  1121138,
  1121141,
  1121142,
  1121143,
  1121152,
  1121153,
  1121164,
  1121167,
  1121168,
  1121172,
  1121173,
  1121175,
  1121177,
  1121181,
  1121182,
  1121183,
  1121184,
  1121185,
  1121193,
  1121195,
  1121196,
  1121197,
  1121202,
  1121203,
  1121205,
  1121206,
  1121207,
  1121211,
  1121213,
  1121215,
  1121216,
  1121220,
  1121223,
  1121224,
  1121229,
  1121231,
  1121233,
  1121241,
  1121242,
  1121243,
  1121244,
  1121245,
  1121246,
  1121250,
  1121251,
  1121252,
  1121254,
  1121255,
  1121261,
  1121262,
  1121263,
  1121264,
  1121265,
  1121269,
  1121273,
  1121274,
  1121275,
  1121276,
  1121277,
  1121278,
  1121279,
  1121282,
  1121284,
  1121285,
  1121286,
  1121287,
  1121289,
  1121290,
  1121291,
  1121292,
  1121293,
  1121296,
  1121297,
  1121300,
  1121302,
  1121303,
  1121304,
  1121309,
  1121310,
  1121311,
  1121312,
  1121316,
  1121317,
  1121319,
  1121321,
  1121322,
  1121327,
  1121330,
  1121333,
  1121334,
  1121335,
  1121336,
  1121337,
  1121338,
  1121340,
  1121341,
  1121342,
  1121344,
  1121345,
  1121347,
  1121350,
  1121352,
  1121353,
  1121355,
  1121359,
  1121361,
  1121364,
  1121365,
  1121367,
  1121368,
  1121369,
  1121370,
  1121372,
  1121373,
  1121374,
  1121375,
  1121377,
  1121378,
  1121379,
  1121380,
  1121381,
  1121390,
  1121391,
  1121394,
  1121395,
  1121398,
  1121400,
  1121403,
  1121405,
  1121410,
  1121411,
  1121412,
  1121413,
  1121414,
  1121415,
  1121418,
  1121421,
  1121422,
  1121423,
  1121425,
  1121428,
  1121429,
  1121430,
  1121433,
  1121437,
  1121439,
  1121440,
  1121442,
  1121443,
  1121444,
  1121446,
  1121451,
  1121452,
  1121453,
  1121454,
  1121455,
  1121456,
  1121464,
  1121466,
  1121467,
  1121469,
  1121471,
  1121472,
  1121473,
  1121474,
  1121477,
  1121481,
  1121482,
  1121483,
  1121484,
  1121487,
  1121489,
  1121493,
  1121497,
  1121499,
  1121510,
  1121511,
  1121514,
  1121523,
  1121524,
  1121525,
  1121526,
  1121527,
  1121528,
  1121530,
  1121532,
  1121535,
  1121541,
  1121544,
  1121545,
  1121548,
  1121551,
  1121554,
  1121557,
  1121561,
  1121562,
  1121568,
  1121571,
  1121572,
  1121575,
  1121577,
  1121584,
  1121585,
  1121589,
  1121590,
  1121592,
  1121593],
 '45-49': [1121594,
  1121597,
  1121598,
  1121599,
  1121601,
  1121602,
  1121603,
  1121605,
  1121606,
  1121607,
  1121609,
  1121612,
  1121613,
  1121615,
  1121616,
  1121617,
  1121619,
  1121620,
  1121622,
  1121623,
  1121624,
  1121627,
  1121628,
  1121629,
  1121635,
  1121638,
  1121641,
  1121642,
  1121644,
  1121650,
  1121652,
  1121660,
  1121661,
  1121662,
  1121664,
  1121665,
  1121666,
  1121667,
  1121668,
  1121669,
  1121671,
  1121672,
  1121673,
  1121674,
  1121675,
  1121676,
  1121677,
  1121678,
  1121685,
  1121687,
  1121689,
  1121691,
  1121692,
  1121693,
  1121695,
  1121701,
  1121705,
  1121706,
  1121708,
  1121711,
  1121716,
  1121723,
  1121733,
  1122189,
  1122191,
  1122192,
  1122193,
  1122197,
  1122200,
  1122201,
  1122202,
  1122203,
  1122204,
  1122205,
  1122209,
  1122210,
  1122211,
  1122212,
  1122213,
  1122216,
  1122217,
  1122223,
  1122224,
  1122225,
  1122227,
  1122232,
  1122233,
  1122240,
  1122244,
  1122246,
  1122249,
  1122253,
  1122254,
  1122257,
  1122258,
  1122260,
  1122262,
  1122265,
  1122266,
  1122267,
  1122268,
  1122270,
  1122271,
  1122273,
  1122274,
  1122276,
  1122277,
  1122279,
  1122282,
  1122288,
  1122290,
  1122303,
  1122304,
  1122308,
  1122310,
  1122311,
  1122312,
  1122313,
  1122316,
  1314341,
  1314343,
  1314345,
  1314346,
  1314348,
  1314349,
  1314350,
  1314351,
  1314353,
  1314354,
  1314355,
  1314401,
  1314402,
  1314403,
  1314404,
  1314405,
  1314406,
  1314407,
  1314408,
  1314409,
  1314410,
  1314411,
  1314412,
  1314414,
  1314415],
 '30-34': [1121741,
  1121742,
  1121745,
  1121746,
  1121749,
  1121751,
  1121753,
  1121754,
  1121755,
  1121756,
  1121758,
  1121759,
  1121760,
  1121763,
  1121764,
  1121765,
  1121767,
  1121768,
  1121769,
  1121773,
  1121774,
  1121775,
  1121776,
  1121779,
  1121780,
  1121782,
  1121783,
  1121791,
  1121793,
  1121795,
  1121796,
  1121798,
  1121803,
  1121806,
  1121807,
  1121812,
  1121814,
  1121815,
  1121816,
  1121817,
  1121818,
  1121819,
  1121820,
  1121824,
  1121826,
  1121827,
  1121828,
  1121829,
  1121832,
  1121833,
  1121835,
  1121839,
  1121841,
  1121843,
  1121844,
  1121845,
  1121846,
  1121847,
  1121854,
  1121855,
  1121856,
  1121857,
  1121859,
  1121860,
  1121861,
  1121862,
  1121863,
  1121867,
  1121869,
  1121871,
  1121873,
  1121874,
  1121876,
  1121877,
  1121878,
  1121881,
  1121888,
  1314296,
  1314297,
  1314298,
  1314299,
  1314301,
  1314303,
  1314306,
  1314307,
  1314308,
  1314309,
  1314357,
  1314358,
  1314359,
  1314360,
  1314361,
  1314362,
  1314363,
  1314364,
  1314365,
  1314366,
  1314367,
  1314368],
 '35-39': [1121889,
  1121890,
  1121891,
  1121894,
  1121895,
  1121897,
  1121901,
  1121902,
  1121903,
  1121904,
  1121905,
  1121906,
  1121907,
  1121917,
  1121918,
  1121925,
  1121928,
  1121931,
  1121933,
  1121935,
  1121936,
  1121944,
  1121948,
  1121949,
  1121953,
  1121954,
  1121955,
  1121956,
  1121962,
  1121963,
  1121971,
  1121973,
  1121976,
  1121977,
  1121983,
  1121994,
  1122003,
  1122004,
  1122005,
  1122006,
  1122007,
  1122011,
  1122012,
  1122022,
  1122027,
  1314312,
  1314313,
  1314314,
  1314316,
  1314318,
  1314319,
  1314320,
  1314321,
  1314323,
  1314324,
  1314325,
  1314371,
  1314372,
  1314373,
  1314377,
  1314378,
  1314379,
  1314380,
  1314381,
  1314382,
  1314383,
  1314384,
  1314385],
 '40-44': [1122039,
  1122040,
  1122041,
  1122043,
  1122044,
  1122047,
  1122052,
  1122054,
  1122055,
  1122056,
  1122058,
  1122075,
  1122078,
  1122079,
  1122085,
  1122089,
  1122092,
  1122101,
  1122102,
  1122103,
  1122105,
  1122107,
  1122109,
  1122112,
  1122113,
  1122118,
  1122120,
  1122121,
  1122125,
  1122127,
  1122131,
  1122138,
  1122139,
  1122140,
  1122145,
  1122146,
  1122149,
  1122154,
  1122157,
  1122160,
  1122165,
  1122166,
  1122176,
  1122177,
  1122182,
  1122183,
  1314326,
  1314327,
  1314330,
  1314331,
  1314332,
  1314333,
  1314334,
  1314336,
  1314337,
  1314338,
  1314339,
  1314386,
  1314387,
  1314388,
  1314389,
  1314390,
  1314391,
  1314392,
  1314393,
  1314394,
  1314395,
  1314396,
  1314397,
  1314398,
  1314400]}

### Task - 3
Get total clicks where report_start between dates 19/08/2017 to 22/08/2017 (both inclusive).

In [11]:
data.sort_values(by="reporting_start",inplace=True,ignore_index=True)

In [12]:
data

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.000000,1,1.43,2.0,1.0
1,1122089,17/08/2017,17/08/2017,40-44,F,23,25,29,195220,51,78.060000,1,0.00,NaN,NaN
2,1122056,17/08/2017,17/08/2017,40-44,F,16,19,21,925555,182,262.889998,4,2.00,NaN,NaN
3,1122052,17/08/2017,17/08/2017,40-44,F,16,20,19,265038,51,78.459999,2,1.00,NaN,NaN
4,1122047,17/08/2017,17/08/2017,40-44,F,15,18,21,582725,142,194.809999,9,2.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,778689,30/08/2017,30/08/2017,936,115892,30-34,M,28,32,32,7453.000000,1,1.68,1.0,1.0
1139,709059,30/08/2017,30/08/2017,916,103968,30-34,M,20,26,23,14669.000000,7,10.28,1.0,1.0
1140,709105,30/08/2017,30/08/2017,916,103976,30-34,M,28,30,32,1241.000000,0,0.00,1.0,1.0
1141,1121365,30/08/2017,30/08/2017,1178,144584,35-39,M,27,33,31,110503.000000,25,32.68,4.0,0.0
1142,1121263,30/08/2017,30/08/2017,1178,144567,30-34,M,64,66,69,156101.000000,19,29.75,2.0,2.0

In [13]:
reporting_start = data[data["reporting_start"]>="19/08/2017"]
reporting_start = reporting_start[reporting_start["reporting_start"]<="22/08/2017"]
reporting_start

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
163,1121499,19/08/2017,19/08/2017,1178,144607,40-44,M,25,27,31,264222.00,63,87.790000,1.0,1.0
164,735140,19/08/2017,19/08/2017,936,108809,40-44,F,26,27,31,6907.00,2,2.350000,1.0,0.0
165,1121628,19/08/2017,19/08/2017,45-49,M,21,25,22,59838,7,11.11,1,0.000000,NaN,NaN
166,735065,19/08/2017,19/08/2017,936,108797,40-44,F,7,10,12,648.00,0,0.000000,1.0,0.0
167,735143,19/08/2017,19/08/2017,936,108810,40-44,F,27,28,30,39035.00,13,19.330000,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,776553,22/08/2017,22/08/2017,936,115523,30-34,F,16,21,17,66765.00,8,11.050000,1.0,0.0
555,776469,22/08/2017,22/08/2017,936,115509,45-49,F,28,33,29,45397.00,15,25.419999,1.0,1.0
556,776473,22/08/2017,22/08/2017,936,115510,30-34,M,16,22,22,23086.00,2,3.310000,1.0,1.0
557,776552,22/08/2017,22/08/2017,936,115523,30-34,F,16,17,18,21596.00,2,2.810000,1.0,0.0
558,776464,22/08/2017,22/08/2017,936,115508,45-49,F,29,30,31,7550.00,1,1.680000,1.0,1.0

In [14]:
total_click = reporting_start["clicks"].sum()
print("Total Number of clicks -",total_click)

Total Number of clicks - 3763

# `!!!END!!!`